@model Toeic.Web.Models.Practice.PracticeQuestionViewModel
@{
    ViewData["Title"] = "Practice Question";
    var player = new Toeic.Web.Models.Common.TestPlayerViewModel
    {
        Title = "Practice",
        QuestionText = Model.Question.QuestionText,
        CurrentNumber = 1,
        TotalQuestions = 1,
        SelectedOptionId = Model.SelectedAnswerOptionId,
        FormAction = Url.Action("Submit", "Practice") ?? "/Practice/Submit",
        HiddenFields = new Dictionary<string, string>
        {
            ["questionId"] = Model.Question.Id.ToString()
        },
        NextCommandValue = "submit",
        NextButtonLabel = "Submit"
    };

    player.Options = Model.Question.AnswerOptions
        .OrderBy(x => x.Label)
        .Select(x => new Toeic.Web.Models.Common.TestPlayerOptionViewModel
        {
            Id = x.Id,
            Label = x.Label,
            Text = x.Text
        })
        .ToList();
}

<partial name="_TestPlayer" model="player" />

<a class="btn btn-link mt-2" asp-action="Part" asp-route-partNumber="@((int)Model.Question.Part)">Back to Part</a>
