@using Microsoft.AspNetCore.Identity
@using Toeic.Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="nav-link text-dark">Hello @User.Identity?.Name</span>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Url.Action("Index", "Dashboard")">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Url.Action("Index", "Dashboard")">Login</a>
    </li>
}
</ul>
